
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Member/Views/Shared/MemberLayoutPage.cshtml";
}

@model IEnumerable<TechnologyNews.Model.Option.Article>

<section class="content">
    <div class="row">
        <div class="col-md-10">
            @foreach (var item in Model)
            {
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <div class="user-block">
                            <img class="img-circle" src="@item.AppUser.UserImage" alt="User Image">
                            <span class="username"><a href="#">@item.AppUser.FirstName @item.AppUser.LastName</a></span>
                            <span class="description">@item.Header - @item.PublishDate</span>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        @if (item.Content.Length >= 300)
                        {
                            @item.Content.Substring(0, 300);
                            <span><a href="/Member/Comment/Show/@item.ID">Read More...</a></span>
                        }
                        else
                        {
                            @item.Content;
                            <span><a href="/Member/Comment/Show/@item.ID">Read More...</a></span>
                        }

                    </div>
                    }
                    <!-- Box Comment -->
                    <!-- /.box -->
                </div>
            }
            <!-- /.col -->
        </div>

    </div>
</section>