
@{
    ViewBag.Title = "Show";
    Layout = "~/Areas/Member/Views/Shared/MemberLayoutPage.cshtml";
}

@model TechnologyNews.UI.Areas.Member.Models.VM.ArticleDetailVM
<br />

<section class="content">
    <div class="row">
        <div class="col-md-6">
            <!-- Box Comment -->
            <div class="box box-widget">
                <div class="box-header with-border">
                    <div class="user-block">
                        <img class="img-circle" src="@Model.AppUser.UserImage" alt="User Image">
                        <span class="username"><a href="#">@Model.AppUser.FirstName @Model.AppUser.LastName</a></span>
                        <span class="description">@Model.Article.Header</span>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <img class="img-responsive pad" src="@Model.Article.ImagePath" alt="Photo">
                    <p>@Model.Article.Content</p>
                    @if (@Model.Likes.Count == 0)
                    {
                        string elementID = "message" + Model.Article.ID;
                        <button type="button" id="like" onclick="like('@Model.Article.ID')" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
                        <span id="@elementID" style="display:none">Like you</span>
                    }
                    else
                    {
                        <label>Like you.</label>
                    }

                    <span class="pull-right text-muted">@Model.LikeCount likes - @Model.CommentCount comments</span>
                </div>
                <!-- /.box-body -->
                <div class="box-footer box-comments" id="dynamiccomment">
                    @foreach (var item in Model.Comments)
                    {
                        <div class="box-comment">
                            <!-- User image -->
                            <img class="img-circle img-sm" src="@item.AppUser.XSmallUserImage" alt="User Image">
                            <div class="comment-text">
                                <span class="username">
                                    @item.AppUser.FirstName @item.AppUser.LastName
                                    <span class="text-muted pull-right">@item.CreatedDate</span>
                                </span><!-- /.username -->
                                @item.Content
                            </div>
                            <!-- /.comment-text -->
                        </div>
                    }
                </div>
                <!-- /.box-footer -->
                <div class="box-footer">
                    <img class="img-responsive img-circle img-sm" src="@Session["ImagePath"]" alt="Alt Text">
                    <!-- .img-push is used to add margin to elements next to floating images -->
                    <div class="img-push">
                        <input type="text" id="comment" class="form-control input-sm" placeholder="Press enter to post comment">
                        <button type="button" id="addComment" onclick="comment('@Model.Article.ID')" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i>Comments</button>
                        <span id="message" style="display:none">Have Comments</span>
                    </div>
                    <br />
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>



<script>

        function comment(articleID) {
            console.log(articleID);
            var commentText = $("#comment").val();

        $.ajax({
                    type: "POST",
                    dataType: "Json",
                    data: { userComment: commentText, id: articleID },
                    url: "@Url.Action("AddComment","Comment")",
                    success: function (data) {
                        if (data == true) {
                            $("#message").removeAttr("style");
                            $("#message").html("");
                            $("#message").append("Have Comments.").fadeIn(2000);

                            // Commentlerin hepsini silip tekrar listelemeyle geri çekmek gerekiyor.

                            commentdynamiclist(articleID);

                        }
                        else {
                            $("#message").removeAttr("style");
                            $("#message").html("");
                            $("#message").append("An error has occured.");
                        }
                    }
                })

    }

        function commentdynamiclist(id) {

            $.ajax({
                type: "POST",
                dataType: "Json",
                url: "@Url.Action("GetAtricleComment", "Comment")/" + id,
                success: function (data) {
                    if (data != null) {

                        //console.log(data.FirstName);
                        $("#dynamiccomment").append("<div class='box-comment' id='lastcomment'><!-- User image --><img class='img-circle img-sm' src='" + data.AppUserImagePath + "' alt='User Image'><div class='comment-text'><span class='username'>" + data.FirstName + " " + data.LastName + "<span class='text-muted pull-right'>" + data.CreatedDate + "</span></span><!-- /.username -->" + data.Content + "</div></div>");

                        $("#comment").val("");
                        $("#message").fadeOut(2000);
                        $("#lastcomment").hide().fadeIn(2000);

                    }
                    else {

                    }
                }
            })

        }

</script>

